*{
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-slab-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.container{
  width: 940px;
  margin: 0 auto;   
}

main{
  padding-bottom: 120px;
}

.menu{
  display: flex;
  justify-content: space-between;
  padding: 50px 0 128px;
}

.logo{
  font-size: 26px;
  font-family: 'Kaushan Script', cursive;
  color: #fed136;
  line-height: 1.577;
  text-decoration: none;
}

.menu-nav{
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  width: 485px;
  align-items: center;
}

.menu-nav li a{
  font-family: 'Montserrat';
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  color: #222222;
}

.menu-nav a:hover{
  color: #fed136;;
}

h2{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 40px;
  color: #222222;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 19px;  
}

.text{
  text-align: center;
  color: #777777;
  font-size: 16px;
  line-height: 1.2;
  padding-bottom: 78px;
  font-family: 'Sriracha', cursive;
}
  
.icon-list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 120px;
  
}

.icon-list li{
  width: 274px;
}
.icon-basket::before{
  content: '';
  background-image: url(../image/Icon-Basket.png);
  width: 40px;
  height: 39px;
  display: inline-block;
  border: 3px solid #fed136;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 31px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 28px;
}

.icon-laptop::before{
  content: '';
  background-image: url(../image/Icon-Laptop.png);
  width: 40px;
  height: 39px;
  display: inline-block;
  border: 3px solid #fed136;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 31px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 28px;
}

.icon-locked::before{
  content: '';
  background-image: url(../image/Icon-Locked.png);
  width: 40px;
  height: 39px;
  display: inline-block;
  border: 3px solid #fed136;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 31px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 28px;
}

h3{
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}

.icon-list p{
  font-family: 'Roboto Slab';
  font-size: 14px;
  
  color: #777777;
  font-weight: 400;
}

.registration{
  background-image: url('../image/Map_Image.png');
  background-repeat: no-repeat;
  height: 676px;
  background-color: black;
  background-position: right;
  
}
  
.f-heading{
  color: #ffffff;
  padding-top: 110px;
}

.form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 455px;

}
 .form-control{
  width: 100%;
  height: 52px;
  border: 1px solid #cccccc;
  margin-bottom: 28px;
  padding-left: 21px;
  outline: none;
  
}

.form-control:last-child{
  margin-bottom: 0;
}


textarea{
  width: calc(50% - 15px);
  padding: 20px 0px 0px 20px;
  resize: none;
  outline: none;
}
input[type="text"]:valid:focus:not(:last-child),
input[type="email"]:valid:focus,
textarea:valid:focus{
  
  outline: 3px solid green;
}

input[type="text"]:invalid:focus:not(:last-child),
input[type="email"]:invalid:focus,
textarea:invalid:focus{
  
  outline: 3px solid red;
}

.form-text{
  border-radius: 2px;
  border: 1px solid #cccccc;
}

.form-text::placeholder{
  font-size: 14px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb; 
  font-family: 'Montserrat';
}

button{
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  width: 240px;
  height: 66px;
  background-color: #fed136;
  border: none;
  border-radius: 2px;
  display: block;
  margin: 30px auto 0;
  outline: none;
}

